/* background-color: #282c34; */


h1 {
  text-align: center;
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 440px;
  background-color: rgb(101, 101, 255);
  padding: 10px;
}

.tablero div {
  border: 1px solid black;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  cursor: pointer;


}

.amarilla {
  background-color: yellow;
}

.roja {
  background-color: red;
}

.blanco {
  background-color: white;
}

.jugadores {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 448px;
}

.jugador1 {
  color: red;
  font-weight: bold;
}

.jugador2 {
  color: yellow;
  font-weight: bold;
}

.btn-vs-computadora {
  background-color: #0255a5;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
  font: normal 400 16px/16px Open sans;
  min-height: 35px;
  min-width: 100px;
  padding: 10px 25px;
  transition: background-color 0.25s ease-out;
  margin-bottom: 10px;
}

.boton-re {
  background-color: #d6c807;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  cursor: pointer;
  font: normal 400 16px/16px Open sans;
  min-height: 35px;
  min-width: 100px;
  padding: 10px 25px;
  transition: background-color 0.25s ease-out;
  margin-bottom: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #45a049;
}